/**
 * Reset some basic elements
 */
 
:root{
/*sac fermé*/
--nodisplay:none;
--display:auto;

/*sac ouvert*/
--display-inventaire:inline-block;
} 
 
 
* {
  margin: 0;
  padding: 0;
}

@font-face {
font-family: "Necto-Mono";
src: url("http://wman.monster/fonts/Necto-Mono.woff") format("woff"),
url("http://wman.monster/fonts/Necto-Mono.woff2") format("woff2");
}

@font-face {
    font-family: 'pixel_takhisisregular';
    src: url('http://wman.monster/fonts/pixel_takhisis-webfont.woff2') format('woff2'),
    url('http://wman.monster/fonts/pixel_takhisis-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


body{
	font-family: "Necto-Mono";
	background-image:
		<div id="imageGallery">    
    <img id="image" src="/imgs/fond_art2.gif" />
    <div id="previous">Previous</div>    
    <div id="next">Next</div>        
</div>

<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>

<script>
    $( document ).ready(function() {

        var images = [
            "/imgs/fond_art2.gif",
            "/imgs/fond_art.gif",
            "/imgs/bois.gif"    
        ];

        var imageIndex = 0;

        $("#previous").on("click", function(){          
            imageIndex = (imageIndex + images.length -1) % (images.length);    
            $("#image").attr('src', images[imageIndex]);
        });

        $("#next").on("click", function(){
            imageIndex = (imageIndex+1) % (images.length);    
            $("#image").attr('src', images[imageIndex]);
        });

        $("#image").attr(images[0]);

    });
</script>

	background-position: center top;	 
}

a{
color:black;
}

article a:hover{
color:red;
}

.post-link{
text-decoration:none;
}

ul, li{
	list-style-type: none;
}
