/**
 * Reset some basic elements
 */
 
:root{
/*sac fermé*/
--nodisplay:none;
--display:auto;

/*sac ouvert*/
--display-inventaire:inline-block;
} 
 
 
* {
  margin: 0;
  padding: 0;
}

@font-face {
font-family: "Necto-Mono";
src: url("http://wman.monster/fonts/Necto-Mono.woff") format("woff"),
url("http://wman.monster/fonts/Necto-Mono.woff2") format("woff2");
}

@font-face {
    font-family: 'pixel_takhisisregular';
    src: url('http://wman.monster/fonts/pixel_takhisis-webfont.woff2') format('woff2'),
    url('http://wman.monster/fonts/pixel_takhisis-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


body{
	font-family: "Necto-Mono";
	background-position: center top;	 
}

a{
color:black;
}

article a:hover{
color:red;
}

.post-link{
text-decoration:none;
}

ul, li{
	list-style-type: none;
}

iframe body{
	margin:0;
}
