
/**
	* Header
	*/
	

	
	.site-title {
	display:inline-block;
	font-family:'pixel_takhisisregular';
	width:100%;
	text-align:center;
	margin-top:10px;
	margin-bottom:10px;
	font-size:3em;
	}

/**
	* Gauche
	*/
	.gauche{
	position:relative;
	float:left;
	width:50%;
	}
	
	.contenucolonnes{
	padding:20px;}
	
	.page-link img{
	 border: 20px solid transparent;
	 border-image: url("https://pquod.github.io/wman/imgs/borderred.png") 20;
	 background-color:white;
	 color:red;
	 }
	 
	 .icone-page{
		width:3em;
	 }
	 
	 .page-title{
	 font-family:'pixel_takhisisregular';
	 margin-top:20px;
	 margin-bottom:20px;
	 text-align:center;
	 }
	
article p{
	margin-bottom:20px;
}

article ul{
margin-bottom:20px;
}


article img{
	width:150px;
}

 	/**
	* Droite
	*/
	
	 .droite{
		position:relative;
		float:right;
		width:50%;
	 }
/**
	* Droite
	*/
	
	 .droite{
		position:relative;
		float:right;
		width:50%;
	 }

	.inventaire{
	display:var(--nodisplay-inventaire);
	}
	
	.ouverture-sac-label{
	display:var(--display-sac);
	}
	
	.ouverture-sac-checkbox:checked ~ .theme-container {
		.inventaire{
			display:var(--display-inventaire);
		}
		
		.ouverture-sac-label{
		display:var(--nodisplay-sac);
		}
	}
	

	
	.sr-only {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap; /* 1. */
}
	 
	 .post-link img{
	 border: 20px solid transparent;
	 border-image: url("https://pquod.github.io/wman/imgs/border.png") 20;
	 background-color:white;
	 }
	 
	 .icone-post{
		width:3em;
	 }
	 
/**
*Post
*/

.post-header{
font-family:'pixel_takhisisregular';
 margin-top:20px;
	 margin-bottom:20px;
	 text-align:center;
}




	
	 
	
