 /**
	* Header
	*/
	
	
	.site-title {
	display:inline-block;
	width:100%;
	font-family:'pixel_takhisisregular';
	margin-bottom:10px;
	text-decoration:none;
	text-align:center;
	font-size:5em;
	}
	
	.site-title img{
	margin-top:40px;
	}
	

/**
	* Gauche
	*/
	.gauche{
	position:relative;
	float:left;
	width:50%;
	}
	
.contenucolonnes{
	padding-top:20px;
	padding-left:60px;
	padding-right:60px;
	padding-bottom:60px;
	}
	
	.post-header{
	 border: 20px solid transparent;
	 border-image: url("https://pquod.github.io/wman/imgs/bordermarron.gif") 20;
	 height:50px;
	 background-color:#e8d5b9;
	}
	
	.home{
	border: 20px solid transparent;
	 border-image: url("https://pquod.github.io/wman/imgs/bordermarron.gif") 20;
	 background-color:#e8d5b9;
	}
	 
	 .page-title{
	 font-family:'pixel_takhisisregular';
	 text-align:center;
	 margin-top:10px;
	 }
	 
	 .post-content{
	 border: 20px solid transparent;
	 border-image: url("https://pquod.github.io/wman/imgs/bordermarron.gif") 20;
	 background-color:#e8d5b9;
	 }
	
article p{
	margin-bottom:20px;
}

article ul{
margin-bottom:20px;
}

article img{
width:100%;}

.home img{
	width:150px;
}
 	/**
	* Droite
	*/
	
	 .droite{
		position:relative;
		float:right;
		width:50%;
	 }
	 
	 
	 /**
	 *NAV
	 */
	 
	 .site-nav{
	 margin-top:20px;

	 }
	 
	 .page-link{
	 margin-right:10px;
	 }
	 	.page-link img{
	 border: 20px solid transparent;
	 
	 }

	 .icone-page{
		width:3em;
	 }	
	
	 .ouverture-sac-label{
	 display:inline-block;
	 width:100%;
	 }
	 
	.sacouvert{
	display:var(--nodisplay);
	
	}
	
	.sacferme{
	margin:100px;
	}
	
	.ouverture-sac-checkbox:checked ~ .theme-container {
		.inventaire{
			display:var(--display);
		}
		
		.sacouvert{
		display:inline-block;
		width:100%;
		font-family:'pixel_takhisisregular';
		font-size:2em;
		text-align:right;
		color:red;
		text-shadow: 1px 1px 2px black;

		}
		
		.sacferme{
			display:var(--nodisplay);
		}
	}

	.inventaire{
	display:var(--nodisplay);
	}
	
	
	
	
	.sr-only {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap; /* 1. */
}
	 
	 .post-link img{
	 border: 20px solid transparent;
	 }
	 

	 
	 .icone-post{
		width:3em;
	 }
	 

/**
*Post
*/

.post-header{
font-family:'pixel_takhisisregular';
 margin-top:20px;
	 margin-bottom:20px;
	 text-align:center;
}



	
	 
	
