#fond{
min-height:100vh;
width:100%;
}
 /**
	* Header
	*/


	.site-title {
	display:inline-block;
	width:100%;
	font-family:'pixel_takhisisregular';
	margin-bottom:10px;
	text-decoration:none;
	text-align:center;
	font-size:5em;
	}

	.site-title img{
	margin-top:40px;
	}

	.navsmart{
	display:none;
	}

/**
	* Gauche
	*/
	.gauche{
	position:relative;
	float:left;
	width:60%;
	}

	.contenucolonnes{
	padding-top:20px;
	padding-left:60px;
	padding-right:60px;
	padding-bottom:60px;

	}

	.post-header{
	 border: 20px solid transparent;
	
	 min-height:50px;
	 background-color:#f5f2f7;
	}

	.home{
	border: 20px solid transparent;
	 ;
	 background-color:#f5f2f7;
	}

	 .page-title{
	 font-family:'pixel_takhisisregular';
	 text-align:center;
	 margin-top:10px;
	 }

	 .post-content{
	 border: 20px solid transparent;
	
	 background-color:#f5f2f7;
	 }

#fondu {
	position: absolute;
	background-color: #FFFFFF;
	height: 100%;
	width: 100%;
	top: 0%;
	left: 0%;
	z-index: -2;
	cursor: all-scroll;
	color: rgb(117, 117, 117);
	overflow: hidden;
    }

.imagefond {
	padding: 0px;
	width: auto;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	background: repeat;
	
}

article p{
	margin-bottom:20px;
}

article ul{
margin-bottom:20px;
}

article img{
width:100%;}

.home img{
	width:150px;
}

 	/**
	* Droite
	*/

	 .droite{
		position:relative;
		float:right;
		width:40%;
	 }

.infobulle {
  position: relative;  /* les .infobulle deviennent référents */
}

.infobulle:hover:after,
.infobulle:focus:after {
  content: attr(aria-label);
  position: absolute;
  top: -2em;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
	background:#9ec6e4;
		border-radius:2px;
	white-space:nowrap;
}



	 /**
	 *NAV
	 */

	 .site-nav{
	 margin-top:20px;

	 }

	 .page-link{
	 }

	 .icone-page{
		width:3em;
		margin-right:10px;
	 }

	 .ouverture-sac-label{
	 display:inline-block;
	 width:100%;
	 }

	.sacouvert{
	display:var(--nodisplay);
	cursor:pointer;
	}

	.sacferme{
	background-image: url("http://wman.monster/imgs/sacstatic.gif");
	width:130px;
	height:130px;
	margin:100px;
	cursor:pointer;
	}

	.sacferme:hover{
	background-image: url("http://wman.monster/imgs/sac.gif");
	}





	.ouverture-sac-checkbox:checked ~ .theme-container {
		.inventaire{
			display:var(--display);
		}

		.sacouvert{
		display:inline-block;
		width:100%;
		font-family:'pixel_takhisisregular';
		font-size:2em;
		text-align:right;
		color:red;
		text-shadow: 1px 1px 2px black;

		}

		.sacouvert img{
		width:1em;
	 background-color:#e8d5b9;
		}

		.sacferme{
			display:var(--nodisplay);
		}
	}

	.inventaire{
	display:var(--nodisplay);
	}




	.sr-only {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap; /* 1. */
}


	 .icone-post{
		width:3em;
	 }

/**
*Post
*/

.post-header{
font-family:'pixel_takhisisregular';
 margin-top:20px;
	 margin-bottom:20px;
	 text-align:center;
}

@media screen and (max-width: 800px) {
	.gauche{
	position:auto;
	width:100%;
	}

	.droite{
	position:auto;
	width:100%;}

	.contenucolonnes{
	padding:10px;
	}

	.sacferme{
	display:none;
	}

	.inventaire{
	display:inline-block;;
	}

	.sacouvert{
	display:none;
	}

	.navscreen{
	display:none;
	}

	.navsmart{
	display:inline-block;
	}

}
