<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'fr' }}">

  {%- include head.html -%}

  <body>
	
	{%- include header.html -%}

 <main class="page-content" aria-label="Content">

	<div class="gauche">
		<div class="contenucolonnes">
    {%- assign default_paths = site.pages | map: "path" -%}
    {%- assign page_paths = site.header_pages | default: default_paths -%}
	{%- if page_paths -%}
      <nav class="site-nav">      

          {%- for path in page_paths -%}
            {%- assign my_page = site.pages | where: "path", path | first -%}
            {%- if my_page.title -%}
            <a class="page-link" href="{{ my_page.url | relative_url }}"><img class="icone-page" src="{{ my_page.icone }}" alt=""></a>
            {%- endif -%}
          {%- endfor -%}

      </nav>
    {%- endif -%}
		</div>
	</div>
		
		
	<div class="droite">
		<div class="contenucolonnes">
		<div class="inventaire">
	{%- if site.posts.size > 0 -%}
      
      {%- for post in site.posts -%}   
          <a class="post-link" href="{{ post.url | relative_url }}">
            <img class="icone-post" src="{{ post.icone}}" alt="">
          </a>
      {%- endfor -%}
  {%- endif -%}
		</div>
		</div>
	</div>	
	
</main>



  </body>

</html>
